<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/91978/IdeaProjects/SeleniumTestNG">

<!--        <groups>-->
<!--            <run>-->
<!--                <include name="smoky"/>-->
<!--            </run>-->
<!--        </groups>-->
      <classes>
          <class name="TestNG_1"></class>
          <class name="test_2"></class>
          <class name="Group"></class>
      </classes>

    </test>
</suite>